body{
    background-color: aquamarine;
    font-family: "Gochi Hand", "sans-serif";
    font-size: 20px;
}
a{
    color: inherit;
    text-decoration: none;
}
a:hover{
    text-decoration: none;
    color: inherit;
}
.container-xl{
    background-color: white;
    padding-bottom: 50px;
}
h1{
    font-size: 120px;
    margin: 40px 0 80px 0;
    text-align: center;  
    font-family: "Bangers", "serif";  
    font-weight: 400;
}
.menuList{
    padding-right: 0;
}
.menuSubmit{
    padding-left: 0;
}
.list-group-item-1{
    padding-top: 19px;
    padding-bottom: 19px;
}
.list-group-item-2{
    text-align: center;
}
.btn{
    font-size: 20px;
}